doctype html
html(lang="en")
  head
    title ERP系统
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style.default.css')
  body
    section
      include ./_left_pannel.jade
      div.mainpanel
        include ./_header_bar.jade
        div.contentpanel
          div.panel
            block content

script(src='/js/jquery-1.10.2.min.js')
script(src='/js/bootstrap.min.js')
script(src="/js/toggles.min.js")
script(src="/js/jquery.cookies.js")
script(src='/js/custom.js')',
script(src='/js/services/common.js')
